body{
    background-color: #fafafa;
    justify-content: center;
}

@media (max-width: 768px) {
    #buttons {
        justify-content: left !important;
        text-align: left !important;
    }
}
#todolist{
    text-align: center;
    padding-bottom: 8px;
}

.update-icon{
    color: #339af0;
}

.delete-icon{
    color: #ff6b6b;
}

strong{
    color: gray;
}

#uncross{
    font-weight: bold;
    font-size: 18px;
    font-family: Verdana;
}

#cross{
    font-weight: bold;
    font-size: 18px;
    font-family: Verdana;
    text-decoration: line-through;
}

#buttons{
    text-align: end;
}

#rows{
    margin: 10px;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 0.25em;
    background-color: white;
}

#completeRow{
    margin: 10px;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 0.25em;
    background-color: lightgray;
    opacity: .8;
}

#created{
    font-size: 0.7em;
    color: dimgray;
}

#box{
    border: 1px solid silver;
    border-radius: 0.25em;
    background-color: white;
    padding-bottom: 10px;
    /*max-width: 800px;*/
}

#head{
    border: 1px solid silver;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    background-color: lightgrey;
    padding: 10px;
}

#body{
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 6px;
    padding-right: 6px;
}

#confirmBtns{
    padding-top: 15px;
}

.col-2{
    text-align: center;
}

#deleted{
    color: #fe6993;
    background-color: rgba(254, 105, 147, 0.1);
    border-radius: 3px;
    padding: 0.2em;
    line-height: 2em;

}